<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Words" version="22.5.0" targetFramework="net471" />
  <package id="EPPlus" version="6.0.4" targetFramework="net471" />
  <package id="EPPlus.Interfaces" version="6.0.0" targetFramework="net471" />
  <package id="EPPlus.System.Drawing" version="6.0.0" targetFramework="net471" />
  <package id="Extended.Wpf.Toolkit" version="4.3.0" targetFramework="net471" />
  <package id="HarfBuzzSharp" version="2.8.2-preview.254" targetFramework="net471" />
  <package id="HarfBuzzSharp.NativeAssets.macOS" version="2.8.2-preview.254" targetFramework="net471" />
  <package id="HarfBuzzSharp.NativeAssets.Win32" version="2.8.2-preview.254" targetFramework="net471" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net461" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net461" />
  <package id="MaterialDesignColors" version="2.0.6" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="4.5.0" targetFramework="net461" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.4.1" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net471" />
  <package id="SkiaSharp" version="2.88.0-preview.254" targetFramework="net471" />
  <package id="SkiaSharp.HarfBuzz" version="2.88.0-preview.254" targetFramework="net471" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.0-preview.254" targetFramework="net471" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.0-preview.254" targetFramework="net471" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net471" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net471" />
  <package id="System.Memory" version="4.5.3" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net471" />
</packages>